.name {
  background-color: #ffa500;
}

#nameID {
  text-align:center;
}

*{
  background-color: white;
}
p, 
body {
  background-color: lightblue;
  border-color: rgb(255, 0, 0);
  border-radius: 25px;
  border-width: thick;
  border-style: dotted;
}
h2 {
  color: grey;
}
caption[target="notblank"] {
  background-color: yellow;
}

a:link {
  color: hsl(240, 100%, 50%);
}
